#cloud-config
hostname: {{ inventory_hostname | regex_replace (domain)}}
fqdn: {{ inventory_hostname }}
manage_etc_hosts: true
users:
  - name: root
    plain_text_passwd: {{ root_pw }}
    ssh-authorized-keys:
      - "{{ ssh_key }}"
ssh_pwauth: false
disable_root: false

package_update: false
packages:
  - qemu-guest-agent
final_message: "The system is finally up, after $UPTIME seconds lol"
