#_preseed_V1
d-i debian-installer/locale string en_US
d-i keyboard-configuration/xkb-keymap select us
d-i debian-installer/language string en
d-i debian-installer/country string HK
d-i debian-installer/locale string en_GB.UTF-8

d-i netcfg/choose_interface select auto
d-i netcfg/disable_autoconfig boolean true

# IPv4 example
d-i netcfg/get_ipaddress string {{ ip }}
d-i netcfg/get_netmask string {{ mask }}
d-i netcfg/get_gateway string {{ gateway }}
d-i netcfg/get_nameservers string {{ nameserver }}
d-i netcfg/confirm_static boolean true

d-i netcfg/get_hostname string {{ inventory_hostname | regex_replace('\..*$') }}
d-i netcfg/get_domain string {{ inventory_hostname | regex_replace('^.*\.') }}

d-i netcfg/hostname string {{ inventory_hostname }}

# Disable that annoying WEP key dialog.
d-i netcfg/wireless_wep string

d-i mirror/country string manual
d-i mirror/http/hostname string http.us.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

d-i passwd/make-user boolean false

d-i passwd/root-password password {{ root_pw }}
d-i passwd/root-password-again password {{ root_pw }}


d-i clock-setup/utc boolean true

# You may set this to any valid setting for $TZ; see the contents of
# /usr/share/zoneinfo/ for valid values.
d-i time/zone string Hongkong



d-i partman-auto/method string lvm

d-i partman-auto-lvm/guided_size string max

d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true

d-i partman-auto/choose_recipe select atomic

# This makes partman automatically partition without confirmation, provided
# that you told it what to do using one of the methods above.
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true



d-i base-installer/install-recommends boolean false


d-i apt-setup/cdrom/set-first boolean false
# You can choose to install non-free and contrib software.
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true



tasksel tasksel/first multiselect SSH server, standard system utilities


# Individual additional packages to install
d-i pkgsel/include string openssh-server vim

popularity-contest popularity-contest/participate boolean false

d-i grub-installer/only_debian boolean true

d-i grub-installer/with_other_os boolean true

d-i grub-installer/bootdev  string default
#d-i preseed/late_command string echo '{{ ssh_key }}' > /target/root/.ssh/authorized_keys
d-i preseed/late_command string \
  mkdir -p -m 700 /target/root/.ssh; \
  echo "{{ ssh_key }}" > /target/root/.ssh/authorized_keys; \
  in-target chown --recursive root:root /root/.ssh; \
  in-target chmod 0644 /root/.ssh/authorized_keys; 


# Avoid that last message about the install being complete.
d-i finish-install/reboot_in_progress note

