lang en_US
keyboard us
timezone Europe/Prague --isUtc
rootpw "{{ root_pw }}"
#platform x86, AMD64, or Intel EM64T
reboot
text
cdrom
network --bootproto=static --ip="{{ ip }}" --netmask="{{ mask }}" --gateway="{{ gateway }}" --hostname="{{ inventory_hostname }}" --nameserver="{{ nameserver }}"
#url --url=http://download.rockylinux.org/pub/rocky/8/BaseOS/x86_64/kickstart/
#repo --name AppStream --baseurl=http://download.rockylinux.org/pub/rocky/8/AppStream/x86_64/kickstart/
bootloader --location=mbr --append="rhgb quiet crashkernel=auto"

zerombr
clearpart --all --initlabel
autopart
#auth --passalgo=sha512 --useshadow
selinux --enforcing
firewall --enabled --ssh
skipx
firstboot --disable
%pre --interpreter=/bin/bash
%end
%post --interpreter=/bin/bash
mkdir /root/.ssh
echo "{{ ssh_key }}"> /root/.ssh/authorized_keys
chmod -R 600 /root/.ssh

%end
%packages
@^minimal-environment
kexec-tools
tmux
%end
